nav{
  float: left;
  margin-left: 1rem;
}



.resizable {
  position: relative;

  /* Misc */
  height: 100vh;
  width: 8rem;
  min-width: 20rem;

}
.resizable_item{
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  background: rgb(18,18,18);
  border-radius: 20px;
}

.resizer {
  position: absolute;
}

/* Placed at the right side */
.resizer-r {
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  width: 10px;
  margin-right: -5px;
}

/* Placed at the bottom side */
.resizer-b {
  bottom: 0;
  cursor: row-resize;
  height: 5px;
  left: 0;
  width: 100%;
}